<div class="body">
    <form action="/category/add" method="post">
            <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="country">Country:</label>
        <input type="text" id="country" name="country" required>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description"  required>


        <button type="submit">Submit</button>
    </form>

</div>

{{!-- <style>
    .body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
    }

    form {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    input {
      width: 400px;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
    }

    button {
      background-color: #4caf50;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #45a049;
    }


</style> --}}